extends ../layout

block content
  div.container
      a(href='/bicicletas' class="btn btn-dark" style="padding: 1%; margin: 3% 0") Volver


      br
      br

      div.container
          h1= `Bicicleta ${bici.id}`
            br
            br
          h2= `ID: ${bici.id}`
          h2= `Color: ${bici.color}`
          h2= `Modelo: ${bici.modelo}`
          h2= 'Ubicación:'
              h3= `Latitud: ${bici.ubicacion[0]}`
              h3= `Longitud: ${bici.ubicacion[1]}`